apiVersion: v1
data:
  internal-ca.pem: |
    -----BEGIN CERTIFICATE-----
    MIIFxTCCA62gAwIBAgIUQn542eunuGWRPXqgrjTwHAEi1TUwDQYJKoZIhvcNAQEM
    BQAwNzELMAkGA1UEBhMCVVMxDzANBgNVBAoMBlBDZ2VlazEXMBUGA1UEAwwOUENn
    ZWVrIFJvb3QgQ0EwHhcNMjIwMjI0MTQxOTEzWhcNMzIwMjIyMTQxOTEzWjA3MQsw
    CQYDVQQGEwJVUzEPMA0GA1UECgwGUENnZWVrMRcwFQYDVQQDDA5QQ2dlZWsgUm9v
    dCBDQTCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBAL2HE8Xl1+M56Lpo
    vSwzxKuYBYAkp83MAOsyH1m04aKSja+uwYmwctDR0ZvEtcN4VIX3mAPXhI+HNbNT
    QOBridDF9z39v1f9o0DIHdXQ6eiHGkrrSZxmFsEPxZ4Sc55FWMN2FeMKmgck+v9J
    fVlyJwo5MDQ5Rux0+LRWEWH/AnDVp7w9RlEX6Jr18CrPBjZ6P8GP9PJLJdUyoW1Q
    NjeNtFN2mFpu9IQ8UrSx3tNm0lu7rgpnyIU+Qf1NYwpkoJ+/YMTplrY7GDrmAV2e
    KCpwKXvu2W3QkHXWm6OhFGQF2FPNZKBsMD1WPaZzkWbrf2/nNvNWKGiXbnGxrxTE
    ARaH6tjMiV+BBjV+kb20ZSx4NLQkBvrvqVgCpZJsba9kuAkEXVbIB1uKQkKDQXIc
    H+O1dRfjqIUyFiWMrJeYR/H+bkd0WlqPaTovgE1rOm7suOnVEsK3JNMO3iTFguXp
    PvVMEHVj5OLpz/U3sm/O6X1zMbstZUDsAX9ZSbgOLoYwW3loHn24Wml5GAw7b4SO
    LgszucxfOemxzF1DeRSWh5ccd+DV5zdfAlNuxt0qW75jSABrtU1reYBLTWXaPAYR
    6DXAB9KRxtU3M3383E367Hh/LmIoratWzCxvSvjmU/+h/9bg86CF97EMU38R6wCC
    VL4sS410rNLS53cnGzr/uctZFVVJAgMBAAGjgcgwgcUwHQYDVR0OBBYEFGLkfHM4
    4ISWJCdBVv8wWwE/+4UaMA8GA1UdEwEB/wQFMAMBAf8wDgYDVR0PAQH/BAQDAgEG
    MDUGA1UdHwQuMCwwKqAooCaGJGh0dHA6Ly9jYS5wY2dlZWsubGFuL2NybC9yb290
    LWNhLmNybDBMBgNVHSAERTBDMAgGBmeBDAECATA3BgsrBgEEAYLfEwEBATAoMCYG
    CCsGAQUFBwIBFhpodHRwOi8vY2EucGNnZWVrLmxhbi9jcHMvOzANBgkqhkiG9w0B
    AQwFAAOCAgEAbVka3+7vo7hNH8bl+pdgwAVMzgoecqylaO2048NVyjCxq2DOMzRb
    9AxwB4WZtB880d2VEUBZ51Z/sXtlvg1HBQC1JHFAdwvLOe7HsNnRYTeJM0VKiU42
    FPwm5PZ/O45eekLEQUInWf1z2VpABmBJbV9p/SazI4YJ82Mco5DRwfPYI0HsXvuB
    1J+6/ijCTkQF4fHmiyeGRdKA796Qxjg7YXgCXrxhYtLqc1R8rNJUkpMWA4sDfjQr
    1o4FvXwMuy33fYtkiRm5qtgx8bYcqQ/7s4RlQM/jiXbPnlkKPhqjj4P+oJwJmiOY
    jgSi/lpdsmsi4Yq5YeJqvNURDePQSvLnRsCQjdfyeJMScowX8aB47nC6LKSub3+p
    sVgyEjZHQJ4g9YQ4s9mSINGdZFxQK43xdjnKnLybsVdDjerVBpuhrreHEtvs/v8O
    1FoHzhRJPCDsJPiJyjjTC0Q06ReGhZ738i3cUe7f36giWTGbDXxB4JamRtWvV3qD
    3i9z/cqRGGPDvTCojF0j15htYPfcEIwRU7+bFk8JVU++6m/0OdCNogpEfvyZ58nV
    BWKxCD1ZW3YOAQ+xya2k2kUSowDwlJs/OxHHYuv9d0dVv628V/0foiTkkgP9eoy0
    +xf1P0q/JXwRrFX09sqlcAUakGp+9H3a/KVaB+SUWY7uoLoeuI7SDeI=
    -----END CERTIFICATE-----
kind: ConfigMap
metadata:
  name: ca-pemstore
  namespace: cert-manager
---
