# helm install traefik traefik/traefik --namespace=kube-system --values=traefik-values.yaml
additionalArguments:
  - --serversTransport.insecureSkipVerify=true
deployment:
  enabled: true
  replicas: {{ traefik_replicas }}
  annotations: {}
  podAnnotations: {}
  additionalContainers: []
  initContainers:

# Configure ports
ports:
  traefik:
    port: 9000
    exposedPort: 9000
    protocol: TCP
  web:
    port: 8000
    expose:
      default: true
    exposedPort: 80
    protocol: TCP
  websecure:
    port: 8443
    expose:
      default: true
    exposedPort: 443
    protocol: TCP
    tls:
      enabled: true
      options: ""
      certResolver: ""
      domains: []
  metrics:
    port: 9100
    expose:
      default: false
    exposedPort: 9100
    protocol: TCP

ingressRoute:
  dashboard:
    enabled: false

ingressClass:
  enabled: true
  # keep traefik for external services from becoming the default when no ingressClass is specified
  isDefaultClass: true

providers:
  kubernetesCRD:
    enabled: true
    allowExternalNameServices: true
    allowCrossNamespace: false
    namespaces: []
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true
    allowCrossNamespace: false
    namespaces: []
    publishedService:
      enabled: true

dashboard:
  enabled: true

rbac:
  enabled: true

service:
  enabled: true
  type: LoadBalancer
  # Additional annotations (e.g. for cloud provider specific config)
  annotations: {}
  # Additional service labels (e.g. for filtering Service by custom labels)
  labels: {}
  # Additional entries here will be added to the service spec. Cannot contains
  # type, selector or ports entries.
  spec:
    # externalTrafficPolicy: Cluster
    # CHANGE THIS IP ADDRESS IN LINE BELOW TO THE 2ND METALLB IP - use for port forward of 80/443 from firewall
    loadBalancerIP: {{ traefik_int_endpoint_ip }} # this should be your Metal LB IP
    # clusterIP: "2.3.4.5"
  loadBalancerSourceRanges: []
    # - 192.168.0.1/32
    # - 172.16.0.0/16
  externalIPs: []
    # - 1.2.3.4
